---
import Giscus from "@/components/Giscus.astro";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import SubTitle from "@/partials/SubTitle.astro";
import { getEntry } from "astro:content";

export const prerender = true;

const about = await getEntry("about", "-index");
const { Content } = await about.render();
const { title, description, meta_title, image } = about.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <section class="section px-4 pt-0 pb-0 my-14 mx-auto">
    <div class="container">
      <div class="row justify-center mb-14">
        <div class="md:col-10 lg:col-10">
          <svg
            class="mx-auto mb-14"
            fill="currentColor"
            width="100px"
            height="100px"
            viewBox="0 0 228 230"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              transform="translate(0.060599, 0.552370)"
              fill="currentColor"
              fill-rule="nonzero"
            >
              <g
                id="Group"
                transform="translate(472.974388, 114.258956) scale(-1, 1) rotate(-180.000000) translate(-472.974388, -114.258956) translate(0.000000, 0.000000)"
              >
                <g id="flower" transform="translate(-0.000000, 0.000000)">
                  <path
                    d="M70.7394012,227.670283 C62.6394012,225.470283 56.3394012,219.870283 52.1394012,211.070283 C48.7394012,203.870283 47.9394012,191.070283 50.3394012,182.770283 C51.2394012,179.770283 51.9394012,177.070283 51.9394012,176.770283 C51.9394012,176.470283 49.3394012,176.970283 46.2394012,177.770283 C37.9394012,179.970283 24.0394012,179.170283 17.2394012,176.170283 C10.8394012,173.370283 3.93940117,166.170283 1.53940117,159.870283 C-0.960598832,153.270283 -0.360598832,142.270283 2.93940117,135.570283 C5.93940117,129.370283 13.7394012,121.470283 20.7394012,117.470283 L26.1394012,114.370283 L21.0394012,111.170283 C14.4394012,106.970283 5.93940117,97.5702834 2.93940117,91.4702834 C-0.560598832,84.2702834 -0.960598832,74.0702834 1.93940117,67.2702834 C4.53940117,61.1702834 11.1394012,54.7702834 17.7394012,51.7702834 C24.1394012,48.9702834 38.6394012,48.2702834 46.0394012,50.3702834 C48.9394012,51.2702834 51.4394012,51.8702834 51.5394012,51.7702834 C51.6394012,51.6702834 51.1394012,48.6702834 50.3394012,45.0702834 C46.0394012,24.8702834 52.7394012,8.37028341 67.7394012,1.97028341 C74.1394012,-0.829716591 85.0394012,-0.629716591 91.4394012,2.47028341 C98.3394012,5.67028341 105.839401,12.6702834 109.939401,19.8702834 C111.839401,23.2702834 113.639401,25.9702834 113.939401,26.0702834 C114.239401,26.0702834 115.839401,23.7702834 117.439401,20.9702834 C127.239401,4.47028341 146.639401,-4.02971659 160.739401,2.07028341 C167.439401,4.97028341 174.039401,12.0702834 176.939401,19.6702834 C179.839401,26.9702834 180.139401,41.0702834 177.539401,47.9702834 C176.639401,50.3702834 175.939401,52.4702834 175.939401,52.5702834 C175.939401,52.7702834 178.039401,52.1702834 180.739401,51.3702834 C188.039401,49.1702834 202.239401,49.3702834 209.039401,51.9702834 C221.339401,56.6702834 227.939401,66.2702834 227.939401,79.3702834 C227.939401,85.5702834 227.439401,87.6702834 224.939401,92.7702834 C221.439401,99.7702834 213.239401,107.970283 206.539401,111.270283 C204.039401,112.470283 201.939401,113.770283 201.939401,114.070283 C201.939401,114.370283 203.639401,115.470283 205.639401,116.570283 C211.139401,119.470283 221.039401,129.770283 224.339401,135.970283 C228.539401,143.870283 229.139401,153.870283 225.739401,161.170283 C218.539401,176.770283 199.939401,183.470283 180.339401,177.570283 C177.939401,176.870283 175.939401,176.370283 175.939401,176.570283 C175.939401,176.770283 176.639401,179.970283 177.539401,183.770283 C181.739401,201.770283 175.839401,218.270283 162.539401,225.370283 C156.339401,228.670283 142.439401,228.570283 135.439401,225.170283 C129.139401,222.070283 119.939401,212.970283 116.739401,206.570283 L114.239401,201.670283 L110.739401,207.170283 C100.739401,222.670283 83.9394012,231.370283 70.7394012,227.670283 Z M92.5394012,211.670283 C99.2394012,208.570283 105.339401,202.970283 110.039401,195.770283 L113.839401,189.970283 L115.539401,192.770283 C120.839401,201.470283 122.339401,203.370283 127.039401,207.070283 C137.739401,215.470283 151.339401,216.270283 160.339401,208.870283 C168.239401,202.370283 171.839401,186.970283 168.739401,173.370283 L167.239401,167.270283 L171.339401,168.770283 C173.839401,169.770283 178.939401,170.370283 184.439401,170.470283 C191.839401,170.470283 194.339401,170.070283 198.739401,168.170283 C205.339401,165.170283 210.439401,159.370283 212.639401,152.370283 C214.039401,147.770283 214.139401,146.170283 213.139401,141.270283 C211.139401,131.870283 203.239401,122.470283 191.439401,115.570283 C190.039401,114.670283 190.739401,113.970283 196.239401,110.470283 C206.839401,103.670283 213.939401,92.5702834 213.939401,82.6702834 C213.939401,66.3702834 196.239401,55.3702834 176.139401,59.0702834 C172.639401,59.6702834 169.139401,60.4702834 168.339401,60.7702834 C167.239401,61.1702834 167.239401,60.5702834 168.539401,56.9702834 C169.639401,54.1702834 170.239401,49.3702834 170.239401,43.5702834 C170.339401,33.7702834 168.639401,28.3702834 163.739401,22.5702834 C157.139401,14.7702834 144.239401,12.2702834 134.439401,17.0702834 C128.839401,19.7702834 119.439401,28.7702834 116.439401,34.3702834 C115.339401,36.3702834 114.239401,38.0702834 113.939401,38.0702834 C113.639401,38.0702834 112.339401,36.0702834 111.039401,33.6702834 C100.139401,12.9702834 74.2394012,7.87028341 63.2394012,24.2702834 C58.0394012,32.0702834 56.4394012,44.9702834 59.3394012,55.8702834 C60.0394012,58.7702834 60.6394012,61.0702834 60.5394012,61.0702834 C60.4394012,61.0702834 58.2394012,60.3702834 55.4394012,59.5702834 C48.8394012,57.5702834 37.1394012,57.4702834 31.2394012,59.4702834 C16.4394012,64.3702834 9.93940117,81.1702834 17.4394012,94.8702834 C20.6394012,100.670283 29.4394012,109.370283 34.6394012,111.870283 C36.4394012,112.770283 37.9394012,113.670283 37.9394012,113.970283 C37.9394012,114.270283 35.9394012,115.670283 33.4394012,116.970283 C24.2394012,121.870283 15.9394012,133.070283 14.3394012,142.770283 C12.5394012,154.070283 20.0394012,165.270283 31.5394012,168.670283 C38.3394012,170.670283 49.4394012,170.870283 55.8394012,169.070283 C58.1394012,168.470283 60.3394012,168.070283 60.5394012,168.270283 C60.7394012,168.470283 60.2394012,170.870283 59.4394012,173.570283 C57.5394012,179.870283 57.5394012,191.470283 59.4394012,197.170283 C64.2394012,211.170283 79.4394012,217.770283 92.5394012,211.670283 Z"
                    id="Shape"></path>
                  <path
                    d="M85.2394012,181.570283 C84.9394012,180.570283 85.1394012,177.670283 85.7394012,175.170283 C87.0394012,170.070283 97.7394012,147.970283 100.839401,144.070283 C102.739401,141.670283 102.739401,141.670283 101.339401,148.070283 C97.8394012,163.070283 91.4394012,178.770283 87.4394012,182.070283 C86.2394012,183.070283 85.8394012,182.970283 85.2394012,181.570283 Z"
                    id="Path"></path>
                  <path
                    d="M139.139401,180.370283 C135.639401,175.370283 133.239401,169.770283 130.139401,159.570283 C126.739401,148.570283 125.539401,143.070283 126.339401,143.070283 C126.639401,143.070283 129.439401,147.570283 132.539401,153.170283 C138.439401,163.670283 144.439401,179.170283 143.539401,181.670283 C142.739401,183.770283 141.239401,183.370283 139.139401,180.370283 Z"
                    id="Path"></path>
                  <path
                    d="M111.939401,171.170283 C109.839401,167.170283 111.739401,142.370283 113.939401,144.770283 C115.339401,146.170283 116.939401,156.070283 116.939401,162.670283 C116.939401,169.070283 115.739401,173.070283 113.939401,173.070283 C113.439401,173.070283 112.539401,172.170283 111.939401,171.170283 Z"
                    id="Path"></path>
                  <path
                    d="M72.6394012,155.370283 C71.7394012,153.870283 73.8394012,150.170283 77.8394012,146.170283 C81.9394012,142.070283 92.0394012,134.870283 92.7394012,135.570283 C93.5394012,136.370283 85.7394012,146.970283 80.9394012,151.470283 C76.3394012,155.770283 73.6394012,157.070283 72.6394012,155.370283 Z"
                    id="Path"></path>
                  <path
                    d="M147.939401,151.470283 C142.939401,146.770283 135.239401,136.470283 136.139401,135.570283 C136.939401,134.670283 150.539401,144.770283 153.839401,148.770283 C160.439401,156.670283 155.839401,158.870283 147.939401,151.470283 Z"
                    id="Path"></path>
                  <path
                    d="M45.4394012,143.070283 C44.4394012,141.370283 46.8394012,139.170283 52.8394012,136.070283 C59.0394012,132.970283 75.2394012,127.570283 81.4394012,126.570283 L85.4394012,125.970283 L81.4394012,128.570283 C68.4394012,137.070283 47.0394012,145.670283 45.4394012,143.070283 Z"
                    id="Path"></path>
                  <path
                    d="M168.339401,139.770283 C160.439401,136.570283 141.639401,126.070283 142.439401,125.270283 C143.139401,124.470283 160.639401,129.370283 168.839401,132.670283 C177.039401,135.970283 183.939401,140.270283 183.939401,142.170283 C183.939401,144.070283 176.139401,142.870283 168.339401,139.770283 Z"
                    id="Path"></path>
                  <path
                    d="M60.1394012,117.070283 C51.9394012,115.070283 53.8394012,111.870283 63.6394012,111.270283 C70.3394012,110.770283 83.5394012,112.570283 84.4394012,114.070283 C85.5394012,115.770283 65.1394012,118.370283 60.1394012,117.070283 Z"
                    id="Path"></path>
                  <path
                    d="M152.539401,116.570283 C147.539401,115.770283 143.139401,114.670283 142.739401,114.270283 C141.539401,113.070283 155.939401,110.670283 164.439401,110.670283 C173.739401,110.670283 178.839401,113.470283 174.239401,115.970283 C170.839401,117.670283 161.439401,117.970283 152.539401,116.570283 Z"
                    id="Path"></path>
                  <path
                    d="M75.8394012,100.570283 C56.8394012,95.3702834 42.6394012,88.0702834 45.6394012,85.0702834 C47.9394012,82.6702834 64.9394012,89.4702834 80.2394012,98.8702834 C88.5394012,103.970283 88.3394012,103.970283 75.8394012,100.570283 Z"
                    id="Path"></path>
                  <path
                    d="M141.939401,102.570283 C141.939401,101.870283 157.939401,92.9702834 165.039401,89.6702834 C173.139401,85.9702834 181.439401,83.6702834 183.039401,84.6702834 C186.039401,86.4702834 174.939401,92.9702834 161.439401,97.3702834 C152.739401,100.170283 141.939401,103.070283 141.939401,102.570283 Z"
                    id="Path"></path>
                  <path
                    d="M83.8394012,87.3702834 C74.0394012,79.8702834 68.9394012,72.1702834 73.2394012,71.2702834 C74.4394012,71.0702834 77.1394012,73.1702834 81.2394012,77.2702834 C87.3394012,83.5702834 93.0394012,92.0702834 91.0394012,92.0702834 C90.5394012,92.0702834 87.2394012,89.9702834 83.8394012,87.3702834 Z"
                    id="Path"></path>
                  <path
                    d="M135.939401,91.5702834 C135.939401,90.3702834 142.239401,81.6702834 146.339401,77.2702834 C149.839401,73.4702834 154.639401,70.0702834 156.439401,70.0702834 C157.739401,70.0702834 156.739401,73.8702834 154.539401,77.1702834 C151.539401,81.4702834 135.939401,93.6702834 135.939401,91.5702834 Z"
                    id="Path"></path>
                  <path
                    d="M124.939401,86.0702834 C124.939401,84.0702834 130.439401,65.5702834 132.939401,59.0702834 C135.939401,51.4702834 140.039401,45.0702834 142.039401,45.0702834 C143.639401,45.0702834 142.939401,50.3702834 140.439401,57.4702834 C137.639401,65.5702834 124.939401,88.8702834 124.939401,86.0702834 Z"
                    id="Path"></path>
                  <path
                    d="M96.1394012,75.8702834 C87.5394012,60.3702834 82.8394012,47.6702834 84.5394012,44.9702834 C85.5394012,43.3702834 88.9394012,47.0702834 91.9394012,53.0702834 C96.1394012,61.3702834 103.339401,85.0702834 101.739401,85.0702834 C101.439401,85.0702834 98.9394012,80.8702834 96.1394012,75.8702834 Z"
                    id="Path"></path>
                  <path
                    d="M113.739401,83.5702834 C111.339401,79.7702834 110.039401,59.5702834 111.939401,55.9702834 C113.439401,53.2702834 115.739401,53.6702834 116.639401,56.8702834 C118.339401,62.5702834 115.639401,86.6702834 113.739401,83.5702834 Z"
                    id="Path"></path>
                </g>
              </g>
            </g>
          </svg>

          <h3 set:html={markdownify(title)} class="text-2xl text-center mb-4" />
          <p set:html={markdownify(description)} class="text-center mb-8"/>
          <div class="content leading-loose" style="text-indent: 2em;">
            <Content />
          </div>
        </div>
      </div>

      <SubTitle title="评论区" />
      <div class="mb-14"></div>
      <Giscus />
    </div>
  </section>
</Base>
